.ag-theme-quartz {
  --ag-background-color: hsla(var(--background));
  --ag-header-background-color: hsla(var(--secondary));
  --ag-header-column-resize-handle-color: hsla(var(--accent));
  --ag-active-color: hsla(var(--accent));
  --ag-checkbox-checked-color: hsla(var(--accent));
  --ag-checkbox-unchecked-color: hsla(var(--accent));
  --ag-font-size: 17px;
}
